################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnitOfWorkProj/FileContentIndex/394265a7-7b5c-4bc5-a344-895bc8c394df.vsidx
